<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="ListenerTest4">
    <classes>
      <class name="testNg4.Listener1"/>
    </classes>
  </test> <!-- ListenerTest4 -->
</suite> <!-- Suite -->
